body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  /*background: url(https://picsum.photos/3000/2000/?image=1015);*/
  background: #ccc !important;
  background-size: cover;
  background-repeat: no-repeat;
}

/*body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 25%;
  height: 100%;
  background-color: #03a9f4;
  opacity: 0.8;
}*/

.form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
  min-height: 400px;
  background-color: #fff;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.5);
  padding: 50px;
  box-sizing: border-box;
}

.form h2 {
  color: #777;
  margin: 0 0 40px;
  padding: 0;
}

.form .input-box {
  position: relative;
  margin: 20px 0;
}

.form .input-box input {
  width: 100%;
  font-size: 16px;
  border: none;
  border-bottom: 2px solid #777;
  outline: none;
  padding: 10px;
  padding-left: 10px;
  box-sizing: border-box;
  font-weight: bold;
  color: #777;
}

.form .input-box input:focus,
.form .input-box input:valid {
  border-bottom-color: #03a9f4;
}

.form .input-box .fa {
  position: absolute;
  top: 8px;
  left: 5px;
  font-size: 18px;
  color: #777;
}

.form .input-box input[type="submit"] {
  border: none;
  width: auto;
  cursor: pointer;
  background-color: #03a9f4;
  color: #fff;
  font-weight: bold;
  transition: 0.5s;
}

.form .input-box input[type="submit"]:hover {
  background-color: green;
}

.form a {
  text-decoration: none;
  color: #777;
  margin-top: 20px;
  font-weight: bold;
  display: inline-block;
  transition: 0.5s;
}

.form a:hover {
  color: #ff4987;
}




/*Ashlesh*/


* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */
header {
  background-color: #666;
  padding: 30px;
  text-align: center;
  font-size: 18px;
  color: white;
}

/* Create two columns/boxes that floats next to each other */
nav {
  float: left;
  width: 40%;
  height: 600px; /* only for demonstration, should be removed */
  background: #ccc;
  padding: 20px;
}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: 0;
}

article {
  float: left;
  padding: 20px;
  width: 60%;
  background-color: #f1f1f1;
  height: 600px; /* only for demonstration, should be removed */
}

/* Clear floats after the columns */
section::after {
  content: "";
  display: table;
  clear: both;
}

/* Style the footer */
footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}

.button {
  background-color: Grey;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.5s;
  border-radius: 12px;
}

.button1:hover {
background-color: Green;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.button2:hover {
 background-color: red;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

table, th, td {
  border:1px solid black;
}